.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        @include title;
    }

    h3 {
        font-size: 1.5rem;
    }

    // .hobbies {
    //     display: grid;
    //     grid-template-columns: repeat(3, 17vw);
    // }

    .gym {
        background-image: url();
    }
}