.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        text-align: center;
        font-size: 5rem;
        border: 2px dotted black;
    }

    h3 {
        font-size: 1.5rem;
    }
}