aside {
    position: fixed;
    top: 0px;
    display: inline-flex;
    flex-direction: column;

    .portrait {
        height: 35vh;
        background-image: url(../pics/billy2.jpg);
        background-size: max(42vh, 15.3vw);
        background-position: top left 50%;
        background-repeat: no-repeat;
        filter: grayscale(0.8);
    }

    .map {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $main-color;
        width: 18vw;
        height: 65vh;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vh;
            text-decoration: none;
            color: black;
            width: 10rem;

            &:visited {
                color: black;
            }

            &:hover {
                // background-image: url(../pics/spot.svg);
                background-image: url(../pics/spot2.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50% 50%;
            }
        }
    }
}