.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
    margin-left: 18vw;

    h1 {
        @include title;
        margin: 0 8vw;
    }
    
    .links {
        display: flex;
        justify-content: space-between;
        margin: 0 8vw;

        a {
            font-size: 1.5rem;
            font-weight: 900;
            text-decoration: none;
            color: black;
            padding: 1rem;
            min-width: fit-content;

            &:visited {
                color: black;
            }

            &:hover {
                color: $main-color;
            }
        }
    }

    iframe {
        height: 50vh;
        width: 60vw;
        border-radius: 3rem;
        align-self: center;
    }
}