@font-face {
    font-family: "OldNewspaper"; 
    src: url("../_assets/fonts/OldNewspaper.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

* {
    font-family: "OldNewspaper";
}