@import '_assets/reset';
@import '_assets/fonts';
@import '_assets/vars';

html {
    font-size: 16px;
}

body {
    background-color: $background-color;
}

.body {
    display: grid;
    grid-template-columns: 30vh 1fr;
    // row-gap: 10vh;
    margin: 5vh 5vw;
    overflow-y: auto;
    box-shadow: 0 0 1.25rem black;
    
    @import '_assets/_body/nav';
    @import '_assets/_body/home';
    @import '_assets/_body/aside';

    .about, .resume, .portfolio, .conact {
        padding: 10vh 10vw;
        height: 90vh;
        // position: relative;
        // left: 30vh;
        // margin-left: 30vh;
        // width: calc(100% - 30vh);
    }

    @import '_assets/_body/about';
    @import '_assets/_body/resume';
}


.main-color {
    color: $main-color;
}

.bgmain-color {
    background-color: $main-color;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 900;
}