@import '_assets/reset';
@import '_assets/vars';
@import '_assets/scrollbar';

@font-face {
    font-family: "OldNewspaper"; 
    src: url("../_assets/fonts/OldNewspaper.woff") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

* {
    font-family: "OldNewspaper";
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    padding: 5vh 5vw;
    overflow-x: hidden;
    height: 500vh;
    background-color: $background-color;
    
    // @import '_assets/_body/nav';
}

.body {
    display: flex;
    flex-direction: column;
    row-gap: 10vh;

    >div {
        box-shadow: 0 0 1.25rem black;
        overflow-x: hidden;
    }

    .about, .resume, .contacts {
        padding: 10vh 10vw;
        height: 90vh;
        margin-left: 18vw;
    }

    @import '_assets/_body/home';
    @import '_assets/_body/aside';
    @import '_assets/_body/about';
    @import '_assets/_body/resume';
    @import '_assets/_body/portfolio';
    @import '_assets/_body/contacts';
}


.main-color {
    color: $main-color;
}

.bgmain-color {
    background-color: $main-color;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 900;
}